@page "/Bank"
@using Cautionem.Models
@using Blazorise
@using System.ComponentModel

@inject Cautionem.Data.BankService bankService
@inject IStringLocalizer<Bank> Localizer

    <div>
        <h1>@Localizer["banks"]</h1>
        @{
            <Table Narrow="true" Hoverable="true" Striped="false" ThemeContrast="ThemeContrast.Light">
                <TableHeader>
                    <TableRow>
                        <TableHeaderCell>@Localizer["bankname"]</TableHeaderCell>
                        <TableHeaderCell>@Localizer["bankdescription"]</TableHeaderCell>
                        <TableHeaderCell>@Localizer["bankaccount"]</TableHeaderCell>
                    </TableRow>
                </TableHeader>
                <TableBody>
                    @foreach (Cautionem.Models.Bank bankloop in banks)
                    {
                        <TableRow role="button" @onclick="@(() => BankEdit(bankloop))">
                            <TableRowCell>@bankloop.Name</TableRowCell>
                            <TableRowCell>@bankloop.Description</TableRowCell>
                            <TableRowCell>@bankloop.Account</TableRowCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
        }
        <Modal @ref="modalBank" Closing="@OnClosing">
            <ModalContent Size="ModalSize.Default" Centered="true">
                <ModalBackdrop Attributes="" />
                <ModalHeader>
                    <i class="fas fa-pencil-square-o" aria-hidden="true"></i>
                    <ModalTitle>Edició de Banc</ModalTitle>
                    <CloseButton Clicked="@CloseModal" />
                </ModalHeader>
                <ModalBody>
                    <div>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel Class="addonlabel_style">@Localizer["bankname"]</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@bankEdit.Name"/>
                            </Addon>
                        </Addons>
                    </div>
                    <div>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel Class="addonlabel_style">@Localizer["bankdescription"]</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@bankEdit.Description" />
                            </Addon>
                        </Addons>
                    </div>
                    <div>
                        <Addons>
                            <Addon AddonType="AddonType.Start">
                                <AddonLabel Class="addonlabel_style">@Localizer["bankaccount"]</AddonLabel>
                            </Addon>
                            <Addon AddonType="AddonType.Body">
                                <TextEdit @bind-Text="@bankEdit.Account" />
                            </Addon>
                        </Addons>
                    </div>
                </ModalBody>
                <ModalFooter>
                    <button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_EDIT"]</button>
                </ModalFooter>
            </ModalContent>
        </Modal>
    </div>

    @code{
        private Cautionem.Models.Bank bankEdit = new Cautionem.Models.Bank();
        private IEnumerable<Cautionem.Models.Bank> banks = new List<Cautionem.Models.Bank>();
        private Modal modalBank;

        protected override async Task OnInitializedAsync()
        {
            await GetAllRecords();
        }

        private async Task GetAllRecords()
        {
            this.banks = await bankService.GetAll(1);
        }

        private void BankEdit(Cautionem.Models.Bank bank)
        {
            this.bankEdit = bank;
            modalBank.Show();
        }

        private async void Save()
        {
            await bankService.Save(bankEdit);
            modalBank.Hide();
        }

        // Modal

        private void CloseModal()
        {
            bankService.Detach(bankEdit);
            modalBank.Hide();
        }

        private void OpenModal()
        {
            modalBank.Show();
        }

        private void OnClosing(CancelEventArgs e)
        {
            e.Cancel = false;
        }
    }
