@page "/Bank"
@using Cautionem.Models
@inject Cautionem.Data.BankService bankService
@inject IStringLocalizer<Bank> Localizer

<div>
    <h1>@Localizer["banks"]</h1>
    @{
        <Table Narrow="true" Hoverable="true" Striped="false" ThemeContrast="ThemeContrast.Light">
            <TableHeader>
                <TableRow>
                    <TableHeaderCell>@Localizer["bankname"]</TableHeaderCell>
                    <TableHeaderCell>@Localizer["bankdescription"]</TableHeaderCell>
                    <TableHeaderCell>@Localizer["bankaccount"]</TableHeaderCell>
                </TableRow>
            </TableHeader>
            <TableBody>
                @foreach (Cautionem.Models.Bank bankloop in banks)
                {
                    <TableRow role="button" @onclick="@(() => BankEdit(bankloop))">
                        <TableRowCell>@bankloop.Name</TableRowCell>
                        <TableRowCell>@bankloop.Description</TableRowCell>
                        <TableRowCell>@bankloop.Account</TableRowCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    }
</div>
<div>
    <div class="row">
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Style="width:100px">@Localizer["bankname"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Value="@bank.Name" />
            </Addon>
        </Addons>
    </div>
    <div class="row">
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Style="width:100px">@Localizer["bankdescription"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Value="@bank.Description" />
            </Addon>
        </Addons>
    </div>
    <div class="row">
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Style="width:100px">@Localizer["bankaccount"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Value="@bank.Account" />
            </Addon>
        </Addons>
    </div>
</div>
<br />
<div class="d-flex justify-content-center">
    <button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_EDIT"]</button>
</div>


@code{
    private Cautionem.Models.Bank bank = new Cautionem.Models.Bank();
    private IEnumerable<Cautionem.Models.Bank> banks = new List<Cautionem.Models.Bank>();

    protected override async Task OnInitializedAsync()
    {
        this.banks = await bankService.GetAll(1);
    }

    private void BankEdit(Cautionem.Models.Bank bank)
    {
        this.bank = bank;
    }

    private async void Save()
    {
        await bankService.Save(this.bank);
    }
}
