@page "/Company"
@using Cautionem.Models

@inject Cautionem.Data.CompanyService companyService
@inject IStringLocalizer<Company> Localizer
 
<div>
    <h2>@Localizer["Empresa"]</h2>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["Empresa"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.Name"/>
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["NIF"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.FiscalId" />
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["Address"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.Address" />
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["Town"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.City"/>
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["zip"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.ZipCode" />
            </Addon>
        </Addons>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel class="labelstyle_form">@Localizer["Email"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@company.Email" />
            </Addon>
        </Addons>
    <br />
    <div class="d-flex justify-content-center">
        <button class="btn btn_general btn-success" @onclick="SaveCompany">@SharedLocalizer["MSG_SAVE"]</button>
    </div>
</div>

@code {

    private Cautionem.Models.Company company = new Cautionem.Models.Company();

    protected override async Task OnInitializedAsync()
    {
        company = await companyService.Get(1);
    }

    private async void SaveCompany()
    {
        myBlocker.Show();
        await companyService.Save(company);
        myBlocker.Hide();
    }
}