@page "/CustomerContactsOld"
@using Cautionem.Models
@using System.Linq

@inject Cautionem.Data.CustomerService customerService
@inject IStringLocalizer<Customer> Localizer

<div>
    <h2>@Localizer["customers"]</h2>
    <DataGrid TItem="Cautionem.Models.Customer" Data="@customers" @bind-SelectedRow="@customerEdit" RowClicked="@RowClicking" Editable="false" Filterable="true" Sortable="true" ShowPager="true" PageSize="10" Narrow="true" Hoverable="true">
        <DataGridCommandColumn TItem="Cautionem.Models.Customer" />

        <DataGridColumn TItem="Cautionem.Models.Customer" Field="@nameof(Cautionem.Models.Customer.FiscalId)" Caption="@Localizer["fiscalid"]" TextAlignment="TextAlignment.Left" />
        <DataGridColumn TItem="Cautionem.Models.Customer" Field="@nameof(Cautionem.Models.Customer.Name)" Caption="@Localizer["name"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.Customer" Field="@nameof(Cautionem.Models.Customer.Address)" Caption="@Localizer["address"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.Customer" Field="@nameof(Cautionem.Models.Customer.Town)" Caption="@Localizer["town"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.Customer" Field="@nameof(Cautionem.Models.Customer.Zip)" Caption="@Localizer["zip"]" TextAlignment="TextAlignment.Left" />
    </DataGrid>
</div>

@if (ShowDetail)
{
    <h2>@Localizer["customerdetail"]</h2>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["fiscalid"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.FiscalId" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["name"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Name" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["address"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Address" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["town"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Town" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["zip"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Zip" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["phone"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Phone" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["email"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.Email" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["country"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerEdit.CountryId" />
                </Addon>
            </Addon>
        </Addons>
    </div>

    <button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_SAVE"]</button>
}



@if(customersContacts.Count()>0)
{

<div>
    <h2>@Localizer["customercontacts"]</h2>
    <DataGrid TItem="Cautionem.Models.CustomerContact" Data="@customersContacts" @bind-SelectedRow="@customerContactEdit" RowClicked="@RowClicking" Editable="false" Filterable="true" Sortable="true" ShowPager="true" PageSize="10" Narrow="true" Hoverable="true">
        <DataGridCommandColumn TItem="Cautionem.Models.Customer" />

        <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Id)" Caption="@Localizer["fiscalid"]" TextAlignment="TextAlignment.Left" />
        <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Name)" Caption="@Localizer["name"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Address)" Caption="@Localizer["address"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Town)" Caption="@Localizer["town"]" TextAlignment="TextAlignment.Justified" />
        <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Zip)" Caption="@Localizer["zip"]" TextAlignment="TextAlignment.Left" />
    </DataGrid>
</div>

}


@code{
    private Cautionem.Models.Customer customerEdit = new Cautionem.Models.Customer();
    private IEnumerable<Cautionem.Models.Customer> customers = new List<Cautionem.Models.Customer>();

    private Cautionem.Models.CustomerContact customerContactEdit = new Cautionem.Models.CustomerContact();
    private IEnumerable<Cautionem.Models.CustomerContact> customersContacts = new List<Cautionem.Models.CustomerContact>();

    //Modal
    private Modal modalCustomer;
    private bool IsNew = false;
    private bool ShowDetail = false;

    protected override async Task OnInitializedAsync()
    { 
        myBlocker.Show();
        customers = await customerService.GetAll(1);
        myBlocker.Hide();
    }

    private void Edit(Cautionem.Models.Customer customer)
    {
        this.customerEdit = customer;
        modalCustomer.Show();
    }

    private async void Save()
    {
        myBlocker.Show();
        await customerService.Save(customerEdit);
        myBlocker.Hide();
    }

    // Modal Contacts
    private void CloseModal()
    {
        modalCustomer.Hide();
    }

    private void OpenModal()
    {
        modalCustomer.Show();
    }

    private void OnClosing(CancelEventArgs e)
    {
        customerService.Detach(customerEdit);
        e.Cancel = false;
        IsNew = false;
        StateHasChanged();
    }

    async Task OnReadData(DataGridReadDataEventArgs<Cautionem.Models.Customer> e)
    {
        customers = await customerService.GetAll(1);
        StateHasChanged();
    }

    protected void RowClicking()
    {
        //modalCustomer.Show();
        ShowDetail = true;
        StateHasChanged();
    }
}
