@page "/CustomerContactsComponent"
@using Cautionem.Models
@using System.Linq

@inject Cautionem.Data.CustomerContactService customerContactService
@inject IStringLocalizer<Components.Customer> Localizer

<h2>HOLA!!!!</h2>
<br />

<DataGrid TItem="Cautionem.Models.CustomerContact" Data="@parCustomerContacts" @bind-SelectedRow="@customerContactEdit" RowClicked="@RowClicking" Editable="false" Filterable="true" Sortable="true" ShowPager="true" PageSize="10" Narrow="true" Hoverable="true">
    <DataGridCommandColumn TItem="Cautionem.Models.CustomerContact" />

    <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Name)" Caption="@Localizer["name"]" TextAlignment="TextAlignment.Justified" />
    <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Email)" Caption="@Localizer["email"]" TextAlignment="TextAlignment.Justified" />
    <DataGridColumn TItem="Cautionem.Models.CustomerContact" Field="@nameof(Cautionem.Models.CustomerContact.Phone)" Caption="@Localizer["phone"]" TextAlignment="TextAlignment.Justified" />
</DataGrid>

@if (ShowDetail)
{
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["name"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Name" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["address"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Address" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["town"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Town" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["zip"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Zip" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["phone"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Phone" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["email"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.Email" />
                </Addon>
            </Addon>
        </Addons>
    </div>
    <div>
        <Addons>
            <Addon AddonType="AddonType.Start">
                <AddonLabel Class="addonlabel_style">@Localizer["country"]</AddonLabel>
            </Addon>
            <Addon AddonType="AddonType.Body">
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@customerContactEdit.CountryId" />
                </Addon>
            </Addon>
        </Addons>
    </div>

    <button class="btn btn_general btn-warning" @onclick="DeleteCustomerContact">@SharedLocalizer["MSG_DELETE"]</button>
    <button class="btn btn_general btn-success" @onclick="SaveCustomerContact">@SharedLocalizer["MSG_SAVE"]</button>
}

@if (true)
{
    <button class="btn btn_general btn-danger" @onclick="NewCustomerContact">@SharedLocalizer["MSG_ADD"]</button>
}

@code{
    [Parameter]
    public Cautionem.Models.Customer parCustomer { get; set; }
    [Parameter]
    public IEnumerable<Cautionem.Models.CustomerContact> parCustomerContacts { get; set; }
    [Parameter]
    public EventCallback<Cautionem.Models.CustomerContact> OnCustomerContactAdded { get; set; }

    private Cautionem.Models.CustomerContact customerContactEdit = new Cautionem.Models.CustomerContact();

    //private IEnumerable<Cautionem.Models.CustomerContact> customersContacts { get; set; }
    private IEnumerable<Cautionem.Models.CustomerContact> customersContacts = new List<Cautionem.Models.CustomerContact>();

    private bool IsNew = false;
    private bool ShowDetail = false;

    protected override async Task OnInitializedAsync()
    {

        //customersContacts = await customerContactService.GetAll(parCustomer);

    }

    protected void RowClicking()
    {
        ShowDetail = true;
        IsNew = false;
        //StateHasChanged();
    }

    protected void NewCustomerContact()
    {
        customerContactEdit = new CustomerContact();
        customerContactEdit.CompanyId = parCustomer.CompanyId;
        customerContactEdit.CustomerId = parCustomer.CustomerId;
        ShowDetail = true;
        IsNew = true;
    }

    protected void DeleteCustomerContact()
    {
        customerContactService.Delete(customerContactEdit);
        customerContactEdit = new CustomerContact();
        ShowDetail = false;
    }

    protected async void SaveCustomerContact()
    {
        if (IsNew)
        {
            await customerContactService.Add(customerContactEdit);
            //parCustomerContacts.Add(customerContactEdit);
            //StateHasChanged();
            ShowDetail = false;
        }
        else
        {
            await customerContactService.Save(customerContactEdit);
        }
        IsNew = false;
    }
}