@page "/Customer"
@using Cautionem.Models
@using Blazorise

@inject Cautionem.Data.CustomerService customerService
@inject IStringLocalizer<Customer> Localizer

<div>
    <h2>@Localizer["customers"]</h2>
    <Table Narrow="true" Hoverable="true">
        <TableHeader Class="tableselection_style">
            <TableRow>
                <TableHeaderCell>@Localizer["fiscalid"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["name"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["address"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["town"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["zip"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["pais"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["locked"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["phone"]</TableHeaderCell>
                <TableHeaderCell>@Localizer["email"]</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (Cautionem.Models.Customer customerloop in customers)
            {
            <TableRow role="button" @onclick="@(() => CustomerEdit(customerloop))">
                <TableRowCell>@customerloop.FiscalId</TableRowCell>
                <TableRowCell>@customerloop.Name</TableRowCell>
                <TableRowCell>@customerloop.Address</TableRowCell>
                <TableRowCell>@customerloop.Town</TableRowCell>
                <TableRowCell>@customerloop.CountryId</TableRowCell>
                <TableRowCell>@customerloop.Locked</TableRowCell>
                <TableRowCell>@customerloop.Phone</TableRowCell>
                <TableRowCell>@customerloop.Email</TableRowCell>
            </TableRow>
            }
        </TableBody>
    </Table>
</div>

@code {

    private Cautionem.Models.Customer customerEdit { get; set; }
    private IEnumerable<Cautionem.Models.Customer> customers = new List<Cautionem.Models.Customer>();

    //Modal
    private Modal modalCustomer;
    private bool IsNew = false;

    protected override async Task OnInitializedAsync()
    {
        customers = await customerService.GetAll(1);
    }

    private void CustomerEdit(Cautionem.Models.Customer customer)
    {
        this.customerEdit = customer;
        modalCustomer.Show();
    }

    private async void SaveCustomer()
    {
        myBlocker.Show();
        await customerService.Save(customerEdit);
        myBlocker.Hide();
    }
}
