@page "/CustomerDetail"
@using Cautionem.Models
@using System.Linq

@inject Cautionem.Data.CustomerService customerService
@inject IStringLocalizer<Customer> Localizer

DEFINICIÓN DE CLIENTE
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["fiscalid"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.FiscalId" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["name"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Name" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["address"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Address" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["town"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Town" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["zip"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Zip" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["phone"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Phone" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["email"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.Email" />
            </Addon>
        </Addon>
    </Addons>
</div>
<div>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <AddonLabel Class="addonlabel_style">@Localizer["country"]</AddonLabel>
        </Addon>
        <Addon AddonType="AddonType.Body">
            <Addon AddonType="AddonType.Body">
                <TextEdit @bind-Text="@parCustomer.CountryId" />
            </Addon>
        </Addon>
    </Addons>
</div>
<button class="btn btn_general btn-success" @onclick="Save">@SharedLocalizer["MSG_SAVE"]</button>

@code{
    [Parameter]
    public Models.Customer parCustomer { get; set; }

    private async void Save()
    {
        //myBlocker.Show();
        await customerService.Save(parCustomer);
        //myBlocker.Hide();
    }
}